<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle icon-only><ion-icon name="menu"></ion-icon></button>

		<ion-title>Systems List</ion-title>

		<ion-buttons end>
			<button  *ngIf="configsProvider.getSystems().length > 0" ion-button icon-only (tap)="refreshSystems($event)"><ion-icon name="refresh"></ion-icon></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<div class="message centered" *ngIf="stepsProvider.getSystems().length == 0">No system...</div>

	<ion-list>
		<ion-item *ngFor="let system of stepsProvider.getSystems()">
			<ion-icon name="leaf" item-start></ion-icon>
			<h2>{{system.name}}</h2>
			<p>{{getLabel(system.id)}}</p>
			<button *ngIf="isAvailable(system.id)" ion-button item-end (tap)="addSystem(system.id)">Add</button>
			<button color="danger" *ngIf="!isAvailable(system.id)" ion-button item-end (tap)="deleteSystem(system.id)">Remove</button>
		</ion-item>
	</ion-list>

</ion-content>
